* {
  box-sizing: border-box;
}

:root {
  --main-color: mediumaquamarine;
}
.page {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(252, 252, 252);
}

.page__main {
  margin-top: 110px;
}

.page__header {
  background-color: var(--main-color);
  font-size: 1.4rem;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.header__app-title {
  margin: 0px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.page__footer {
  margin-bottom: 100px;
}
