.main__user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.user-data__name {
  display: block;
  width: 60%;
  margin: 0;
}

.user-data__picture {
  display: block;
}

.main__about-me {
  margin: 40px;
}

.main__page-statistics {
  display: flex;
  justify-content: space-around;
}

.page-statistics_counter {
  border: solid 1px;
  width: 80px;
  border-radius: 3px;
}
