* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: fuchsia;
  font-size: 1.4rem;
}

h1 {
  margin: 0px;
  padding: 10px;
  text-align: center;
  color: white;
}

article {
  margin: 30px;
  border: solid 2px;
  border-color: fuchsia;
  position: relative;
  text-align: center;
}

h2 {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.bookmark {
  position: absolute;
  right: 5px;
  top: -20px;
}
