.card-form {
  display: grid;
  margin: 6rem 2rem;
  gap: 1rem;
}

.card-form__text-area {
  margin-bottom: 0.3rem;
}
.card-form__button-container {
  display: flex;
  justify-content: center;
}
.form-submit {
  width: 6rem;
  height: 2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--white);
}
